*
{
	margin:0px;
	padding:0px;
}
.wrapper
{
	display: grid;
	grid-template-columns: 2fr 8fr;
	background: rgb(225,0,0);opacity: 0.8;
	height: 140px;

}
.logo
{    
	
	padding-top: 13px;
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: Georgia;
}

.logo>i
{
	animation-name: animated;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	position: relative;
	
}

@keyframes animated
{
	0%{left:-5px;}
	25%{left:5px;}
	50%{left:-5px;}
	100%{left:5px;}

}
.header
{
	background-color: hsl(248,58%,53%);
	padding:25px;
	text-align: center;
	font-size:75px;
	color: white;
	font-family: georgia;
	text-shadow: 4px 4px 8px black;
}
.content
{
	display: grid;
	grid-template-columns: 2fr 8fr;
	height: 455px;
	 background:url(https://image.freepik.com/free-vector/black-gold-geometric-web-page-size-background_70155-229.jpg);


}
.left
{
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-color: #666;
	position: relative;
	animation-name: anim;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-iteration-count: 50;
	margin:50px;

}
.center
{
	background: #ccc;
}
@keyframes anim{
	0%{background-color: #666;left: 0px;top:0px;}
	25%{background-color: yellow;left: 50px;top:0px;}
	50%{background-color: green;left: 50px;top:180px;}
	75%{background-color: blue;left: 0px;top:180px;}
	100%{background-color: #666;left: 0px;top:0px;}
}
.left>p
{
	padding-top: 30px;
	margin-top:10px;
	color: white;
	font-style: italic;
	font-family: lucida handwriting;
	text-align: center;
}

h1
{
	font-family: 'niconne',cursive;
	text-align: center;
	font-size: 45px;
	color: blue;
	text-shadow: 1px 1px 4px red;
}
h2
{
	color: blue;
	text-align: center;
	margin-top: 40px;
}
h3
{
	color: blue;
	text-align: center;
	margin-top: 110px;
}
footer
{
	background-color: hsl(248,58%,53%);
	height:60px;
	text-align: center;
	font-family: georgia;
	width:1360x;
}
footer>p
{
	padding: 5px;
 	font-size: 35px;
 	color: white;
}